.main-body {
    overflow-y: hidden !important;
}

.footer-body {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

.footer-main {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

.or-class {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.or-line {
    background: #fff;
    padding: 0 10px;
}

.info-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.alert-message {
    padding: .95rem .95rem;
    width: 100%;
    box-sizing: border-box;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}