<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Vestergaard Utility">
	<link rel="preconnect" href="https://fonts.gstatic.com">

	<link rel="shortcut icon" href="/static/img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<title>Data Utility</title>

	<link href="/static/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<div class="wrapper">

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<h3><b>{{projectName.upper()}} UTILITY</b></h3>
				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="/dashboard">
								<div class="position-relative">
									<i class="align-middle" data-feather="home"></i>
								</div>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="/logout">
								<div class="position-relative">
									<i class="align-middle" data-feather="power"></i>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0">
					<h1 class="h3 mb-3">Master Data Upload</h1>
					<div class="row">
						<div class="col-xl-12 col-xxl-12 d-flex">
							<div class="w-100">
								<div class="row">
									<div class="col-sm-4">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Download Schemas</h5>
													</div>
													<div class="col-auto">
														<div class="stat text-primary">
															<i class="align-middle" data-feather="arrow-down-left"></i>
														</div>
													</div>
													<form action="/master-data" method="POST">
														<div class="mb-0">
															<label class="form-label">Choose Schema</label>
															<select class="form-select" name="schemaDownload">
																<option selected value="">Select a schema to download
																</option>
																{% for desc, table in tableDesc|zip(fetchTable) %}
																<option value="{{table}}">{{desc}}</option>
																{% endfor %}
															</select>
														</div>
														<div class="text-center mt-3 d-grid">
															<button type="submit" class="btn btn btn-primary">Download
																Schema</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Upload Schema</h5>
													</div>
													<div class="col-auto">
														<div class="stat text-primary">
															<i class="align-middle" data-feather="arrow-up-right"></i>
														</div>
													</div>
													<form action="/master-data" method="POST"
														enctype="multipart/form-data">
														<div class="mb-3">
															<label class="form-label">Choose Schema Type</label>
															<select class="form-select" name="schemaUpload">
																<option selected value="">Select a schema to upload
																</option>
																{% for desc, table in tableDesc|zip(uploadTable) %}
																<option value="{{table}}">{{desc}}</option>
																{% endfor %}
															</select>
														</div>
														<div class="mb-3">
															<label class="form-label w-100">File input</label>
															<input type="file" name="CSVfile">
														</div>
														<div class="text-center mt-3 d-grid">
															<button type="submit" class="btn btn btn-primary"
																data-bs-toggle="offcanvas"
																data-bs-target="#offcanvasRight"
																aria-controls="offcanvasLeft">Upload
																schema</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-12 text-end">
							<p class="mb-0">
								<a class="text-muted" href="https://duretechnologies.com" target="_blank"><strong>Dure
										Technologies Pvt Ltd</strong></a> &copy;
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="/static/js/app.js"></script>

</body>

</html>